/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 1, 2026, 12:36:55 AM
    Author     : HBK
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
