* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-login: 50px;
    --width-login: 400px;
}

body{
    background:#fff;
    margin: 0;
    /* display:flex;
    justify-content:center;
    align-items:center;
    height:100vh; */
}

.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login-form {
    width: 600px;
    height: 600px;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.15);
    border-radius: 30px;
    margin: auto 40px auto 120px;
    z-index: 2;
}

.description {
    margin-bottom: 25px;
}

.description p {
    text-align: center;
}

.login-label {
    font-size: 14px;
    letter-spacing: 3px;
}

.login-nameshop {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 5px;
}

.login-des {
    color: #b1a8a8;
    padding: 10px 0;
}

.login-input {
    width: var(--width-login); 
    height: var(--height-login);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.login-input input {
    width: 380px;
    height: 38px;
    padding: 0 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

.label-user,
.label-password {
    padding-left: 5px;
    padding-bottom: 5px;
}

.login-user,
.login-password {
    margin: 15px 0;
}

.noti {
    color: red;
    padding-left: 5px;
}

.forgot-password {
    color: #000;
    text-decoration: none;

    padding-left: 5px;
}

.forgot-password:hover {
    color: #676464;
}

.login-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.sign-in,
.sign-in-gg {
    height: var(--height-login);
    width: var(--width-login);
    margin-top: 20px;

    border-radius: 16px;
    border: none;
    font-size: 15px;
}

.sign-in {
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    background-color: rgb(65, 65, 239);
    color: #fff;
}

.sign-in:hover {
    background-color: rgb(80, 80, 241);
}

.sign-in-gg {
    background-color: #fff;
    border: 0.5px solid #000;
    font-weight: 600;
}

.login-sign-up {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sign-up {
    color: rgb(65, 65, 239);
    text-decoration: none;
    padding-left: 3px;
}


.login-img {
    flex: 1;
    min-height: 100vh;

    background: url("../img/login.jpg") center center/cover no-repeat;
}
